body{
    background-color: ghostwhite;
}

.container{
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
    height: 100vh;*/
    display: flex;
    justify-content: center;
    gap: 20px;
}

#Jlists{
    display: inline-block;
    background-color: lightgray;
    width: 650px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
}

#templateDiv{
    display: inline-block;
    background-color: lightgray;
    width: 650px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;        
}

#templateP{
    background-color: lightcoral;
    padding: 5px;
}

#flexDiv1{
    padding: 5px;
    background-color: lightblue;
    width: 325px;
    
}

#flexDiv2{
    padding: 5px;
    background-color: #0099CC;
    width: 325px;
    height: 140px;
}